@media screen and (max-width: 1170px) {
    #main-header {
        background: url(../images/man-2.jpg) top no-repeat;
        background-size: cover;
        height: 70vh;
    }
    #main-header .main-header-caption {
        left: auto;
        top: 100px;
        right: 50px;
    }
    
    #main-header .main-header-caption h1 {
      font-size: 1.8em;
   }

   #main-header .main-header-caption h2 {
      font-size: 1.5em;
   }
    
    #responsive-header {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    #main-header {
        background: url(../images/man-1.jpg) top no-repeat;
        background-size: cover;
        height: 50vh;
    }
    
    #main-header .main-header-caption {
        font-size: 1.8em;
        color: black;
        padding-top: 250px;
        margin: 0 auto;
        text-align: center;
    }
    
    #responsive-header {
        display: block;
    }
    
    .main-header-caption {
        display: none;
    }
}
